@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/******* LOGIN PAGE ********/

.wrapper {
    height: 100vh;
    width: 100vw;
    background: #3c1053;
    background: linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    background: -webkit-linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    background: -moz-linear-gradient(193deg,#3c1053 0%, #ad5389 80%);

}
.login-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 430px;
    border-radius: 0;
    box-shadow: 1px 7px 17px 2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 1px 7px 17px 2px rgba(0,0,0,0.65);
    -moz-box-shadow: 1px 7px 17px 2px rgba(0,0,0,0.65);
}
.fa-graduation-cap {
    font-size: 3rem;
    color: #FFF;
}
.fa-graduation-cap::before {
    background-color: #ad5389;
    border-radius: 50%;
    padding:30px;
}
.form-group {
    position: relative;
}
.fa-user {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #ad5389;
}
.fa-lock {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #ad5389;
}
.login-card form {
    padding-top: 2%;
}
.login-input {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.63);
    transition: 300ms;
    border-color: #ad5389;
    padding-left: 15% !important;
}
.login-card .submit {
    width: 100%;
    border-radius: 20px;
    border: none;
    background: #3c1053;
    background: linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    background: -webkit-linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    background: -moz-linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.63);
    transition: 300ms;
}
.login-card .submit:hover {
    box-shadow: none;
}
.forgot_pass_text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

/******* ADMIN PANEL ********/

.row-content {
    margin-top: 50px;
}

/******* NAVBAR ********/

.nav-top {
    background: #3c1053;
    background: linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    background: -webkit-linear-gradient(193deg,#3c1053 0%, #ad5389 80%);
    background: -moz-linear-gradient(193deg,#3c1053 0%, #ad5389 80%);

    box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
}
.nav-top h2 {
    color: #FFF;
}
.search-box {
    width: 300px;
    border-radius: 20px;
}

/******* SIDEBAR ********/

.sidebar {
    min-height: 100vh;
    background-color: #2c3e50;
    padding-top: 30px;
}
.sidebar .nav-link {
    color: #FFF;
}
.sidebar .sidebar-icon {
    color: #ad5389;
    margin-right: 10px;
    font-size: 1.5rem;
}
.sidebar .nav-item:hover {
    background: #3c1053;
    background: linear-gradient(189deg,#3c1053 10%, #ad5389 70%);
    background: -webkit-linear-gradient(189deg,#3c1053 10%, #ad5389 70%);
    background: -moz-linear-gradient(189deg,#3c1053 10%, #ad5389 70%);
}
.sidebar .nav-item:hover .sidebar-icon {
    color: #FFF;
}

/******* MAIN CONTENT ********/

.main {
    padding-top: 30px !important;
    min-height: 100vh;
}
.card-icon {
    font-size: 5rem;
    color: #ad5389;
    transition: all 300ms;
}
.main-card {
    border: none;
    width: 300px;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    transition: all 400ms;
    box-shadow: 15px 21px 39px -26px rgba(0,0,0,0.75);
    -webkit-box-shadow: 15px 21px 39px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 21px 39px -26px rgba(0,0,0,0.75);
}
.main-card:hover {
    box-shadow: none;
}
.main-card:hover .card-icon {
    color: #FFF;
}
.main-card .card-footer h3 {
    color: #ad5389;
}
.bounce-delay_first {
    animation-delay: 0.3s;
}
.bounce-delay_second {
    animation-delay: 0.4s;
}
.bounce-delay_third {
    animation-delay: 0.5s;
}
.bounce-delay_fourth {
    animation-delay: 0.6s;
}
.classes_card {
    background-color: #ad5389 !important;
    
}
.classes_card .card-icon, h3 {
    color: #FFF !important;
}
/********** TIMETABLE ADMINISTRATOR ****************/
/* .thead-dark {
    background-color: #2c3e50 !important;
} */