@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html, body {
    margin: 0;
    padding: 0;
    
}

.blue {
    color: #2c3e50;
}
.hamburger {
    &:focus, &:active {
        outline: none !important;
        box-shadow: none;
    }
}
.custom-btn {
    margin-top: 20px;
    border-radius: 0 !important;
    padding: 15px 30px !important;
    background-color: #43C6AC !important;
    letter-spacing: 1px;
    font-size: 16px !important;
    border: none !important;
    &:focus, &:active {
        outline: none !important;
        box-shadow: none;
    }
}
.header {
    min-height: 30vh;
    padding-top: 10vh;
    padding-bottom: 30px;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lato', sans-serif;
    h1 {
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #2c3e50;
        z-index: 22222;
        font-size: 5vw;
        margin-bottom: 0;
        line-height: 1em;
    }
    h3 {
        letter-spacing: 10px;
        font-family: 'Dancing Script', cursive;
        font-size: 3.5vw;
        margin-bottom: 0;
        line-height: 1em;
        font-style: italic;
        color: #ff7675;
    }
}
.collapse, .collapse-content {
    height: calc(30vh + 30px) !important;
}
.fixed-top {
    .navbar-brand {
        color: #50CAAC;
    }
    .nav-link {
        letter-spacing: 1px;
        font-size: 18px;
    }
}
.main {
    padding-top: 100px;
    padding-bottom: 100px;
    .card {
        transition: 300ms ease;
        &:hover {
            box-shadow: 0px -1px 17px -4px rgba(0,0,0,0.75) !important;
            -webkit-box-shadow: 0px -1px 17px -4px rgba(0,0,0,0.75) !important;
            -moz-box-shadow: 0px -1px 17px -4px rgba(0,0,0,0.75) !important;
            transition: 400ms ease;
        }
    }
    .comments {
        .card {
            &:hover {
                box-shadow: none !important;
            }
        }
    }
    .add-comment {
        .form-control {
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            border-radius: 0 !important;
            &:focus, &:active {
                outline: none !important;
                box-shadow: none;
                border-color: #50CAAC !important;
            }
        }
    }
}